@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');

html {
  background-image: url('background.jpg');
  background-size: cover;
  font-family: 'Share Tech Mono', monospace;
}

input[type="text"] {
  font-family: 'Share Tech Mono', monospace;
}

input[type="submit"] {
  font-family: 'Share Tech Mono', monospace;
}

section {
  background-color: gainsboro;
  width: 500px;
  height: 300px;
  margin: 250px auto;
  border-radius: 25px;
  border-top: #ccc 3px solid;
  border-right: #ccc 3px solid;
  border-bottom: #777 3px solid;
  border-left: #777 3px solid;
}

p {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  margin-left: 20px;
  width: 70px;
}

#temperature {
  background-color: #C8E3BD;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
  margin-left: 20px;
  margin-right: 20px;
  padding: 5px;
  font-family: 'Share Tech Mono', monospace;
}

.temp-button {
  background-color: darkgrey;
  width: 60px;
  height: 60px;
  margin: 20px auto;
  border-radius: 2px;
  border-top: #ccc 3px solid;
  border-right: #ccc 3px solid;
  border-bottom: #777 3px solid;
  border-left: #777 3px solid;
  font-family: 'Share Tech Mono', monospace;
}

.button {
  background-color: darkgrey;
  margin: 10px auto;
  border-radius: 2px;
  border-top: #ccc 3px solid;
  border-right: #ccc 3px solid;
  border-bottom: #777 3px solid;
  border-left: #777 3px solid;
  font-family: 'Share Tech Mono', monospace;
}

.psm-button-in {
  background-color: darkgrey;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
  border-radius: 2px;
  border-top: #777 3px solid;
  border-right: #777 3px solid;
  border-bottom: #777 3px solid;
  border-left: #777 3px solid;
  font-family: 'Share Tech Mono', monospace;
}

.psm-button-out {
  background-color: darkgrey;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  border-radius: 2px;
  border-top: #ccc 3px solid;
  border-right: #ccc 3px solid;
  border-bottom: #777 3px solid;
  border-left: #777 3px solid;
  font-family: 'Share Tech Mono', monospace;
}

.low-usage {
  color: green;
}

.medium-usage {
  color: DodgerBlue;
}

.high-usage {
  color: FireBrick;
}

.left {
  margin-top: 20px;
  width: 50%;
  float: left;
}

.bottom-left {
  margin-left: 20px;
}

.right {
  width: 50%;
  float: right;
  margin-top: 50px;
}
